.board {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .board {
    padding: 6px;
    gap: 6px;
  }
}
