.modal__card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  max-width: 320px;
  max-width: 640px;
  padding: 32px;
  border-radius: 16px;
  background-color: white;
  pointer-events: all;
  border: none;
}

.modal__topRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.modal__closeButton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black-1);
  border-radius: 4px;
  height: auto;
  width: auto;
  margin-left: 36px;
}

.modal__divider {
  border-top: 1px solid var(--black-1);
  height: 1px;
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .modal__card {
    max-width: 200px;
    max-width: 90%;
    padding: 24px;
    border-radius: 12px;
  }
}
