.app {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 24px;
  background-color: var(--black-0);
}

.app__container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: var(--max-content-width);
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 16px;
  }
}
